SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=
SUPABASE_DB_PASSWORD=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
AWS_REGION=eu-north-1
AWS_S3_BUCKET=aiptuploaddocument
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
DEMO_CLIENT_EMAIL=
DEMO_CLIENT_PASSWORD=
DEMO_CLIENT_COMPANY=
SMTP_ADMIN_EMAIL=
SMTP_HOST=email-smtp.eu-north-1.amazonaws.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=AIP&T
GOOGLE_SHEETS_SPREADSHEET_ID=1Q5iVUCqE7-EqLzNj5iCySt4kITGijk3V37kpWugGNFw
GOOGLE_SHEETS_RANGE=Fees!A:ZZ
GOOGLE_SHEETS_CLASSES_RANGE=Classes!A:ZZ
GOOGLE_SHEETS_UP_TO_5_CLASSES_RANGE=Up to 5 classes!A:Z
GOOGLE_SHEETS_MULTI_CLASS_RANGE=Multi-class!A:Z
GOOGLE_SHEETS_UP_TO_3_CLASSES_RANGE=Up to 3 classes!A:Z
GOOGLE_SERVICE_ACCOUNT_JSON=
